@using FirelloProject.Models
@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="grid-margin stretch-card" style="width:100%" >
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product</h4>
                    <a asp-action="Create" class="btn btn-success">
                        Create Product
                    </a>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Settings</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                    
                                        <td>
                                            <img src="~/img/@item.ProductImages.FirstOrDefault().ImageUrl" width="100" height="100" />
                                        </td>
                                        <td>
                                           @item.Name
                                        </td>
                                        <td>
                                            @item.Price
                                        </td>
                                        <td>
                                            @item.Category.Name
                                        </td>
                                        <td>
                                            <a asp-action="detail" asp-route-id="@item.ID" class="btn btn-outline-primary ">
                                                <i class="mdi mdi-account-card-details"></i>
                                            </a>
                                            <a asp-action="edit" asp-route-id="@item.ID" class="btn btn-outline-warning ">
                                                <i class="mdi mdi-tooltip-edit"></i>
                                            </a>
                                            <a asp-action="delete" asp-route-id="@item.ID" class="btn btn-outline-danger ">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

