@using FirelloProject.Models
@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category Table</h4>
                    <a asp-action="Create" class="btn btn-success">
                        Create Category
                    </a>
                    <p class="card-description">
                        Add class <code>.table-hover</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Descriptiom</th>
                                    <th>Settings</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description.Substring(0,5)...</td>
                                      
                                        <td>
                                            <a asp-action="detail" asp-route-id="@item.ID" class="btn btn-outline-primary ">
                                                <i class="mdi mdi-account-card-details"></i>
                                            </a>
                                            <a asp-action="edit" asp-route-id="@item.ID" class="btn btn-outline-warning ">
                                                <i class="mdi mdi-tooltip-edit"></i>
                                            </a>
                                            <a asp-action="delete" asp-route-id="@item.ID" class="btn btn-outline-danger ">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

